@import "../Variables/Variables.scss";

.welcome-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: $greyColorDark;
    margin-bottom: 0.8rem;
  }
  h3 {
    font-size: 1em;
    font-weight: 400;
    color: $greyColorDark;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  a {
    text-decoration: none;
    font-size: 1.5em;
    margin-bottom: 0.7rem;
    color: $greyColorIntense;
  }
}
