// Colors
$blackColor: #2c221d;
$whiteColor: #fff;
$greyColorIntense: #878787;
$greyColorDark: #b0b0b0;
$greyColor: #ddd;
$greenColor: #aaf793;
$greenColorIntense: #31e843;
$bodyColor: #e5e5e5;
$navyBlue: #000080;

// Breakpoints
$breakpoint-phone: 564px;
$breakpoint-mini-phone: 375px;