@import "../Variables/Variables.scss";
@import "./base";
/*--- mobile nav ---*/
nav {
  background-color: var(--white-background-color);
  padding: 10px;

  .container-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;

    .brand {
      img {
        max-width: 102px;
        max-height: 60px;
      }

    }

    .links-container {
      display: flex;
      align-items: center;

      .cart-mobile {
        margin-right: 17px;
        font-size: 20px;
      }

      .toggle {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        svg {
          margin-right: 7px;
        }

      }

      .links {
        width: 0vw;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 0;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
      }

      .responsive-toggle {
        width: 93vw;
        right: 0vh;
        visibility: visible;
        opacity: 1;
        z-index: 999;
        background-color: var(--white-background-color);
        max-width: 300px;

        .input-search {
          display: flex;
          align-items: center;

          input {
            width: 90%;
            height: 70px;
            padding-left: 20px;
            border: none;
            background-color: transparent;
            font-weight: 300;
            font-size: 13px;
            color: #777;
            letter-spacing: 0.8px;
            opacity: 0.5;
          }

          svg {
            font-size: 22px;
            color: var(--grey-text);
          }
        }

        .menu-wrapper {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .menu-links {
            display: flex;
            margin: 0;

            justify-content: center;
            align-items: center;
            height: 50px;
            min-width: 300px;
            color: inherit;
            font-size: 13px;
            border-bottom: 1px solid rgba(119, 119, 119, .2);
            border-top: 1px solid rgba(119, 119, 119, .2);
            font-weight: 300;
            letter-spacing: 0.5px;

            .menu-items {
              flex: 1 0 50%;
              max-width: 50%;
              justify-content: center;
              align-items: center;
              display: flex;
              padding: 16px;
              background-color: rgba(0, 0, 0, .06);
              position: relative;

              ::after {
                content: '';
                position: absolute;
                top: auto;
                bottom: -1px;
                left: auto;
                right: 0;
                width: 0;
                height: 2px;
                transition: width .4s cubic-bezier(.19, 1, .22, 1);
                background-color: #439665;
                width: 100%;
              }

              a {
                text-decoration: none;
                color: inherit;
              }
            }

            .categories-items {
              flex: 1 0 50%;
              max-width: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 16px;
              background-color: rgba(0, 0, 0, .04);
              color: #777;

              a {
                text-decoration: none;
                color: inherit;
              }
            }
          }

          .menu {
            flex: 1;

            li {
              border-bottom: 1px solid rgba(119, 119, 119, .2);
              padding: 16px 22px;
              display: flex;
              align-items: center;
              justify-content: space-between;

              a {
                text-decoration: none;
                color: inherit;
                font-size: 14px;
                display: flex;
                align-items: center;
                color: #333;
                font-weight: 400;
                font-size: 13px;
              }

              svg {
                margin-right: 5px;
              }

              .arrow {
                stroke: #777;
              }
            }
          }

          .categories {
            display: none;
          }
        }
      }
    }

  }
}

/*---- head nav ----*/

.web-navbar {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;

  .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ddd;


    .left {
      display: flex;
      padding: 10px 0;
      font-family: 'Karla', sans-serif;

      .left-phone,
      .left-prog,
      .left-mail {
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-right: 1px solid #ddd;
        font-weight: 500;

        svg {
          margin-right: 7px;
        }

      }

      .left-mail {
        border-right: none;
      }
    }

    .right {
      display: flex;
      padding: 10px 0;

      .login,
      .compare,
      .wishlist,
      .cash {
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-right: 1px solid #ddd;

        svg {
          margin-right: 7px;
        }

        a {
          color: #333;
          text-decoration: none;
          transition: all .25s ease;
          font-weight: 500;
          display: flex;
          align-items: center;

          &:hover {
            color: #242424;
          }
        }
      }

      .cash {
        border-right: none;
      }
    }
  }
}


/* ------ navbar -----*/
.bottom-wrapper {
  position: relative;
  background-color: #fff;

  .container-navbar {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
    width: 100%;

    .navbar-inner {
      height: 100px;
      padding: 10px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 17px;
      align-items: flex-start;

      .left {
        flex: 1;

        .logo-container {
          padding: 0 10px;

          img {
            max-width: 142px;
          }
        }
      }

      .center {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 14px;
        flex: 3;

        form {
          .search-input {
            display: flex;

            input[type=text] {
              border: 1px solid rgba(119, 119, 119, .2);
              min-width: 290px;
              height: 42px;
              width: 100%;
              padding: 0 15px;
              padding-right: 170px;
            }

          }
        }

        .nav-links {
          font-family: "Asap-Font",Arial,Helvetica,sans-serif;
          font-weight: 500;
          color: var(--dark-grey-background);
            .menus {
              display: flex;
              list-style: none;
            }

            .menu-items {
              position: relative;
              font-size: 14px;
              color: var(--dark-grey-background);
            }

            .menu-items a {
              display: block;
              font-size: inherit;
              color: inherit;
              text-decoration: none;
            }

            .menu-items button {
              color: inherit;
              font-size: inherit;
              border: none;
              background-color: transparent;
              cursor: pointer;
              width: 100%;
            }

            .menu-items a,
            .menu-items button {
              text-align: left;
              padding: 0.7rem 1rem;
              display: flex;
              justify-content: center;
              align-items: center;

              span svg {
                margin-left: 2px;
              }
            }

            .menu-items a:hover,
            .menu-items button:hover {
              color: rgba(51,51,51,.7);
            }

            .arrow::after {
              content: "";
              display: inline - block;
              margin-left: 0.28 em;
              border-top: 0.42 em solid;
              border-right: 0.32 em solid transparent;
              border-left: 0.32 em solid transparent;
            }

            .dropdown {
              position: absolute;
              right: 0;
              left: auto;
              box-shadow: 0 10 px 15 px - 3 px rgba(46, 41, 51, 0.08),
                0 4 px 6 px - 2 px rgba(71, 63, 79, 0.16);
              font-size: 0.875 rem;
              z-index: 9999;
              min-width: 10 rem;
              padding: 0.5 rem 0;
              list-style: none;
              background-color: #fff;
              border-radius: 0.5 rem;
              display: none;
            }

            .dropdown.show {
              display: block;
              display: flex;
              width: 90vw;
              padding-left: 100px; 
              justify-content: space-around;
              width: 100%;
              margin-right: -500px;
              margin-top: 30px;
            }

            .dropdown.dropdown-submenu {
              position: absolute;
              left: 100%;
              top: -7 px;
            }
        }
      }

      .right {
        font-family: "Asap-Font",Arial,Helvetica,sans-serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        font-size: 14px;
        
        .info {
          display: flex;
          align-items: center;

          .info-icon {
            svg {
              font-size: 28px;
              margin-right: 10px;
            }

          }
          .info-text {
            h4 {
              font-weight: 200;
              margin-bottom: 10px;
            }

            p {
              color: var(--green);
              font-weight: 200;
            }
            

          }

        }
         
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  nav .container-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .web-navbar {
    display: none;
  }
}